* {
    box-sizing: border-box;
}

.app {
    width: 317px;
    font-family: 'Inter';
    color: white;
    background-color: #1A1B21;
    border-radius: 10px 10px 10px 10px;
}

.name {
    font-weight: 700;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.info_title {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}

.portfolio {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
    display: block;
}

.button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    width: 247px;
    height: 34px;
    left: 151px;
    top: 469px;

    margin: auto;
    text-decoration: none;
    margin-top: 20px;
}

.email_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;

}

.about_title,
.interests_title {
    font-weight: 700;
    font-size: 16px;
    color: #F5F5F5;
    margin-bottom: 5px;
    /* margin-top: 5px; */
}

.about_text,
.interests_text {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    margin-top: 0;
}

.about,
.interests {
    margin-left: 35px;
    margin-right: 35px;
}

.footer {
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    margin: auto;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}